<!DOCTYPE html>
<html lang="en">

<head>
  <title>Login</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <!-- /fonts -->
  <link rel="stylesheet" href="fonts/icons/font-awesome-4.7.0/css/font-awesome.min.css">
  <link rel="stylesheet" href="fonts/icons/icomoon/styles.css">
  <!-- /style plugins -->
  <link rel="stylesheet" href="plugins/bootstrap-3.3.7-dist/css/bootstrap.min.css">
  <link rel="stylesheet" href="plugins/datatables-1.10.12/css/jquery.dataTables.min.css">
  <link rel="stylesheet" href="plugins/datetimepicker/css/bootstrap-datetimepicker.min.css">
  <link rel="stylesheet" href="css/normalize.css">
  <link rel="stylesheet" href="plugins/html5-reset/reset.css">
  <!-- /main style -->
  <link rel="stylesheet" href="css/style.css">
</head>

<body>
  <div class="auth-page">
    <canvas width="1" height="1" id="container" style="position:absolute"></canvas>
    <div id="login" class="login flex-cc vh100" style="position: relative; z-index: 9999;">
      <div class="login-inner">
        <form action="" method="" accept-charset="utf-8" class="form-login">
          <header class="text-center">
            <img src="img/logo.png" alt="">
          </header>
          <div class="field">
            <input class="form-control" type="text" name="email" placeholder="Email">
          </div>
          <div class="field">
            <input class="form-control" type="password" name="password" placeholder="Password">
          </div>
          <div class="keep-forgot">
            <div class="keep">
              <div class="checkbox">
                <label>
                  <input type="checkbox" value="">
                  Remember me
                  <div class="check"></div>
                </label>
              </div>
            </div>
            <div class="forgotten">
              <a href="#">Forgotten your password?</a>
            </div>
          </div>
          <div class="field">
            <button type="button" class="btn btn-login btn-auth">Log In</button>
          </div>
        </form>
      </div>
    </div>
  </div>
  <!-- /script plugins-->
  <script src="plugins/jquery-3.2.1/jquery-3.2.1.min.js"></script>
  <script src="plugins/bootstrap-3.3.7-dist/js/bootstrap.min.js"></script>
  <script src="plugins/datatables-1.10.12/js/jquery.dataTables.min.js"></script>
  <script src="plugins/moment/moment.min.js"></script>
  <script src="plugins/datetimepicker/js/bootstrap-datetimepicker.min.js"></script>
  <script src="js/index.min.js"></script>
  <!-- /app script-->
  <!-- <script src="js/script.js"></script> -->
</body>

</html>
